.container {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.textContainer {
  width: 555px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonialQuote {
  margin-bottom: 1em!important;
  padding: 18px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 18px 50px rgb(0 0 0 / 7%);
  position: relative;
}

.testimonialQuote:after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: inherit;
  left: 15px!important;
  height: 15px;
  width: 15px;
  bottom: -6px;
}

.testimonialQuote p {
  font-style: italic;
  font-size: 13px;
  line-height: 1.5;
  color: #949ba2;
  padding: 0;
  margin: 0;
}

.avatarContainer {
  display: flex;
}