.cardMediaContainer {
  position: relative;
}

.emptyContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  opacity: 0.65;
  background-color: #000000;
}

.bannerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
}

.bannerTitleContainer {
  margin-left: 30px;
  flex-grow: 1;
}

.iconContainer {
  margin-right: 20px;
}

.secondIconContainer {
  margin-right: 20px;
  margin-left: 20px;
}

.hiddenContainer {
  display: flex;
}

@media (max-width: 960px) {
  .bannerTitleContainer {
    margin-left: 10px;
  }

  .iconHiddenContainer {
    margin-right: 10px;
  }

  .modalContainer {
    height: auto;
    margin: 50% auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding: 5px;
    padding-bottom: 20px;
  }

  .iconContainer {
    margin-top: 20px;
    margin-right: 0;
  }

  .secondIconContainer {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .exitContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .existButton {
    cursor: pointer;
  }
}
