.toolbarContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  margin-right: 100px;
  margin-top: 10px;
}

@media (max-width: 960px) {
  .toolbarContent {
    justify-content: flex-end;
  }
}
