.toolbarContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.linkedInIconText {
  color: #2196f3;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin: 0 5px;
  height: 100%;
}

.iconContainer:hover {
  opacity: 0.5;
}

.gitHubIconContainer {
  margin: 0 5px;
}

@media (max-width: 600px) {
  .toolbarContent {
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }
}
