.overflowContainer {
  overflow: hidden;
}

.quoteContainer {
  width: 50%;
  margin-left: 25px;
  box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 5px;
}

.mainWrapper {
  box-sizing: content-box;
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
}

.emptyDesignContainer {
  position: absolute;
  height: 30vh;
  bottom: 0;
  transform: rotate(-5deg);
  width: calc(100% + 16vh);
  margin-left: -8vh;
  background: #EEF8F4;
  margin-bottom: -6vh;
  z-index: -1;
}

.infoContainer {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 90px;
}

.wrapperContainer {
  position: relative;
}

.colorContainer {
  background: #EEF8F4;
  height: 12vh;
  transform: rotate(3deg);
  margin-top: -9vh;
  width: calc(100% + 5vh);
}

.blueContainer {
  min-height: 80vh;
  background: #007ACC;
  margin-top: -6vh;
  padding-top: 14vh;
}

.whiteContainer {
  height: 13vh;
  background: #FAFAFA;
  transform: rotate(-2deg);
  margin-top: -9vh;
  width: calc(100% + 5vh);
}

.projectsContainer {
  margin-top: 90px;
}

.seeMoreContainer {
  display: flex;
  justify-content: center;
}

.testimonialsContainer {
  margin-top: 70px;
}

.testimonialsContainer div {
  cursor: pointer
}

.contactContainer{
  margin-top: 50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.workTogetherContainer {
  max-width: 450px;
  margin-top: 55px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280px) {
  .textContainer {
    margin-left: 20px;
    margin-right: 70px;
  }
}

@media (max-width: 960px) {
  .quoteContainer {
    width: 70%;
  }

  .infoContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }

  .textContainer {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .emptyDesignContainer {
    height: 60vh;
    margin-bottom: -30vh;
  }

  .colorContainer {
    height: 25vh;
  }

  .blueContainer {
    min-height: 108vh;
  }
}

@media (max-width: 600px) {
  .mainWrapper {
    flex-direction: column;
    padding-top: 60px;
  }
  .quoteContainer {
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }
  .avatarContainer {
    margin-left: 0;
  }
}
